.DS_Store
# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm

# KiCad autosave & backup junk
*_autosave-*.kicad_sch
#auto_saved_files#/
*-backups/
*.kicad_sch-bak
*.kicad_pcb-bak
*.bak

# KiCad cache / lock
*.lck
fp-info-cache